extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Edit Kacang
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Level 
			li.active Here 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Kacang
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post' action='/kacang/edit/#{(id==undefined) ? data.id : id}')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								- if (messages.msg_info) 
									.alert.alert-success.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-check
											| Success! 
										| !{messages.msg_info}
								.form-group
									label
										| Jenis Kacang
									input(type='text',value="#{data.jenis_kacang}",name='jenis_kacang',placeholder='Enter jenis_kacang', autofocus).form-control
								.form-group
									label
										| Stok Per Kg
									input(type='text',value="#{ (stok_per_kg == undefined) ? data.stok_per_kg : stok_per_kg }",name='stok_per_kg',placeholder='Enter stok_per_kg').form-control
								.form-group
									label
										| Harga Per Kg
									input(type='text',value="#{ (harga_per_kg == undefined) ? data.harga_per_kg : harga_per_kg }",name='harga_per_kg',placeholder='Enter harga_per_kg').form-control
							.box-footer
								input(type="hidden",name="_method", value="PUT")
								button(type='submit').btn.btn-primary
									i.fa.fa-pencil 
									|  Edit
								a(href='/kacang').btn.btn-primary.pull-right
									| Back